.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blank {
  color: red;
}

.white-content {
  background: #e4e4e4;
}

.dark-mode {
  background-color: #1f1f1f;
  color: #ffffff;
}

.DarkToggle {
  position: fixed;
}

/* .w3-example .w3-btn, .w3-example .ws-btn {
  background-color: #04AA6D!important;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 6px 18px;
} */

.w3-btn, .w3-btn:link, .w3-btn:visited {
  color: #FFFFFF;
  background-color: #4CAF50;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.runexample {
  margin-bottom: 31px;

}

