body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#mySidenav {
  position: fixed;
}


#mySidenav a {
  position: absolute;
  left: -135px;
  transition: 0.3s;
  padding: 15px;
  width: 185px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#react {
  top: 68px;
  background-color: #04AA6D;
}

#Components {
  top: 139px;
  background-color: #2196F3;
}

#projects {
  top: 210px;
  background-color: #f44336;
}

#contact {
  top: 279px;
  background-color: #555
}

.Maincontent {
  margin-left: 90px;
  margin-top: 44px;
  padding: 10px;
}


.w3-code {
  font-size: 15px;
  border-left: 5px solid #04AA6D;
  margin-top: 16px!important;
  margin-bottom: 16px!important;
  padding: 8px 12px;
}


.w3-example {
    padding: 8px 20px;
    margin: 24px -20px;
    box-shadow: none!important;
    background-color: #E7E9EB;
    margin-right: 25px;
    margin-left: -2px;
    border-radius: 10px;
}

.token.tag{
  color: #905;
}

.token.attr-name {
  color: #690;
}

.token.doctype, .token.cdata {
  color: slategray;
}

.token.keyword {
  color: #07a;
}


.token.function, .token.class-name {
  color: #DD4A68;
}

.w3-white, .w3-hover-white:hover {
  background-color: #fff!important;
}

.w3-black, .w3-hover-black:hover {
  color: #fff!important;
  background-color: #000!important;
}

.static-text {
    color: #000000; 
    padding: 8px 20px;
    margin: 24px -20px;
    box-shadow: none!important;
    background-color: #E7E9EB;
    margin-right: 25px;
    margin-left: -2px;
    border-radius: 10px;
  
}





/* menu css */
body {
	background: #0cc;
	margin: 0px auto;
	font-family: Verdana, sans-serif;
}
.menu-wrap>nav>ul:after {
    display: block;
    clear: both;
	content: '';
}
 
/*----- Menu Outline -----*/
.menu-wrap {
	width: 100%;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	background: #333;
	margin: 0px auto;
	font-family: Verdana, sans-serif;
	font-size: 16px;
}
.menu-wrap>nav {
	/*width: 1000px;*/
	margin: 0px auto;
}
.menu-wrap li {
	margin: 0px;
	list-style: none;
}
.menu-wrap a {
	transition: all linear 0.25s;
	color: #aaa;
	text-decoration: none;
	/*pointer-events: none;*/
}n
.menu-wrap .current>a {
	color: #0dd;
}
.menu-wrap .down-arrow {
	font-size: 0.5em;
}
.menu-wrap .left-arrow {
	float: right;
	font-size: 0.5em;
	line-height: 250%;
}

/*----- Top Level -----*/
.menu-wrap>nav>ul>li {
	float: left;
	/*display: inline-block;*/
	position: relative;
	font-size: 1em;
}
.menu-wrap>nav>ul>li>a {
	padding: 10px 40px;
	display: inline-block;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
}
.menu-wrap .root>li:hover>a,
.menu-wrap .root>.hover>a,
.menu-wrap .root>.current>a,
.menu-wrap .root>li>a:focus
{
	background: #111;
}

/*----- General Sub Menu -----*/
.menu-wrap .root ul {
	visibility: hidden;
	padding: 5px 0px;
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: all linear 0.25s;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	background: #111;
}
.menu-wrap .show {
	z-index: 1 !important;
	opacity: 1 !important;
	visibility: visible !important;
}
.menu-wrap .root>li li {
	font-size: 1em;
	position: relative;
}
.menu-wrap .root>li li>a {
	display: block;
	padding: 10px 30px;
}
.menu-wrap .root>li li:hover>a,
.menu-wrap .root>li .hover>a,
.menu-wrap .root>li .current>a,
.menu-wrap .root>li>ul a:focus
{
	background: #333;
}

/*----- Menu Level 1 -----*/
.menu-wrap .level-1 {
	width: 120%;
	top: 100%;
	left: 0px;
	line-height: 0%;
}
.menu-wrap .level-1.show {
	line-height: 100% !important;
}

/*----- Menu Level 2 & 3 -----*/
.menu-wrap .level-2,
.menu-wrap .level-3
{
	width: 0%;
	top: -14%;
	left: 100%;
}
.menu-wrap .level-2.show,
.menu-wrap .level-3.show
{
	width: 100% !important;
}

/*----- Contents Outline -----*/
.contents {
	margin: 0 20px;
}
.contents>div {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	margin: 0 auto;
	padding: 0;
	line-height: 0%;
	transition: all linear 0.25s;
}
.contents .show {
	visibility: visible;
	opacity: 1;
	line-height: 100%;
}
